@font-face {
    font-family: "Star-Wars";
    src: url('./Fuentes/Starjedi.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "DINN";
    src: url('./Fuentes/DINNextW1G-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    background-color: #000; 
    width: 100vw;
    height: 100vh;
    font-family: "Star-Wars";
    color: white;
    background-image: url(https://www.shutterstock.com/shutterstock/videos/22001752/thumb/1.jpg?ip=x480);
    overflow-x: hidden;
}

.Home{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content:flex-start;
    margin: auto;

}

.Home h1{
    font-family: "Star-Wars";
    color: yellow;
    font-size: 10vw;
}

.Home button{
    background-color: red;
    width: 10rem;
    height: 5rem;
    font-family:"Star-Wars" ;
    color: white;
    font-size: large;
    border-radius: 5rem;

}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    background-color: black;
    position: sticky;
    height: 100px;
    width: 100%;
    top: 0;
    z-index: 99;
    font-family: "DINN";
}

.header__list{
    display: flex;
    list-style: none;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
}

.header__item{
    margin:1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.header__link{
    text-decoration: none; 
    color: inherit; 
    display: flex; 
    text-align: center; 
    flex-direction: column; 
    align-items: center; 
    transition-duration: 0.5s;
}

a{
    text-decoration: none; 
    color: inherit;
}

.header__link:hover{
    color: yellow;
    transition-duration: 1s;
    filter: sepia(1) saturate(10) brightness(1.2);
}

.Logos{
    width: 4rem;
    height: auto;
}

.submenu {
    display: none; 
    position: absolute;
    top: 100%; 
    left: 0;
    background-color: #000;
    padding: 0.5rem;
    list-style: none;
    margin: 0;
    float: left;
    font-family: "DINN";
}

.submenu__item {
    margin: 0.5rem 0;
}

.submenu__link {
    color: #fff;
    text-decoration: none;
}

.submenu__link:hover {
    color: yellow;
    transition-duration: 1s;
}

.header__item:hover .submenu {
    display: block;
}

.Inicio{
    width: 100vw;
    height: 100vh;
    text-align: center;
    background-color: #000;
}

.Inicio .gif{
    position: absolute;
    top: 150vh;
    left: 0;
    width: 10vw;
}
.Inicio img{
    width: 100dvw;
    height: auto;
}

.opc{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.Personajes {
    width: 100vw;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.Personajes img{
    width: 35vw;
    height: 35vw;
    background-color: white;
    opacity: 80%;
    border-radius: 20%;
}

.ContainerPadre{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    gap:2vw;
    flex-wrap: wrap;
    width: 60vw;
    overflow-y: scroll;
    height: 60vh;
    scrollbar-width: none;
}

.Tarjeta{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    gap:2vw;
    flex-wrap: wrap;
    width: 60vw;
    overflow-y: scroll;
    height: 60vh;
    scrollbar-width: none;
}
.Tarjeta div{
    background-color: white;
    border-radius: 10%;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}
.Tarjeta h1{
    color: red;
}
.Planetas img{
    background-color: white;
    border-radius: 10%;
    opacity: 60%;
}

.Especies {
    width: 100vw;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.Especies img{
    width: 30vw;
}

.Planetas{
    width: 100vw;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.titulo{
    position: absolute;
    top: 0;
}
.Peliculas img{
    width: 70vw;
}
.Vehiculos img{
    width: 50vw;
}
.Planetas img{
    width: 50vw;

}

footer{
    background-color: #000;
    text-align: center;
}

.texto_incio{
    margin: 0.5vw;
    font-size: 2.5vw;
    color: rgb(255, 255, 255);
    margin-bottom: 0.8vw;
    text-align: center;
    padding: 5vw;
    width: 80%;
}
.Container{
    display: flex;
    flex-direction: column;
    width: 95%;
    justify-content: center;
    align-items: center; 
}
.titulo2{
text-align: center;
font-size: 2rem;
text-shadow: 0px 0px 3px rgb(255, 255, 255);
margin: 1vw;
color: #FFD700;


}
.label{
    margin: 0.5vw;
    font-size: 2rem;
    color: rgb(255, 255, 255);
    margin-bottom: 0.8vw;
    text-align: center;
}



.label_titulo{
    font-size: 2.5rem;
    text-shadow: 0px 0px 5px rgb(255, 255, 255);
    margin: 0%;
    color: #00CCFF;
    font-weight: 500;
}

.ContainerPadre{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 40vw;
    font-size: 4em;
}


p {
    flex-grow: 1;
  }

.ContainerUnidad{
    display: flex;
   background-color:#3f2c7533;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 15vw;
   height: 20vw;
   border-radius: 5%;
   margin: 1.5vw;
   border: solid, 0.3vw,#00CCFF;
   box-shadow: 0px 0px 20px rgb(255, 255, 255);
}
.ContainerPadre img{
    width: 4vw;
    margin: 0.5vw;
    background-color: black;
}
.Aperttura{
    display: flex;
    flex-direction: column;
    width: 90%;
}
.vehiculo{
    display: flex;
    flex-direction: row;
    width: 90%;
}
.text_vehiculos{
    width: 100%;
}
.Peliculas{
    width: 45vw;
}
@media (max-width: 1000px) {

    .ContainerUnidad{
        min-width: 80vw;
        margin: 5vw;
        padding-bottom: 2vw;
    }
    .label{
        width: 90%;
        font-size: 5.5vw;
    }
    .Container{
       
        width: 90%;
        
    }
    .titulo{
        font-size: 8vw;
    }
    .img{
        width: 20vw;
        margin: 0.5vw;
    }
    .label_titulo{
        font-size: 6vw;
    }

    
    .texto_incio{
        margin: 0.5vw;
        font-size: 6.5vw;
        color: rgb(255, 255, 255);
        margin-bottom: 0.8vw;
        text-align: center;
        padding: 5vw;
        width: 80%;
          
        }

    }

  